<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net48" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net48" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net48" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
</packages>