<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1585.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1576.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common.v12" version="12.0.0.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
</packages>