<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net48" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net48" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1585.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
</packages>